<div class="main-div">
  <mat-card class="content_card">
    <mat-card-header>
      <mat-card-title>Diagnostic System</mat-card-title>
    </mat-card-header>
    <mat-card-content class="message_cnt">
      <div class="container darker">
        <span class="time-left">I've been asked to make sure your system is ready for a system diagnostics.</span>
      </div>

      <div class="container">
        <span class="time-right">11:00</span>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Primary</button>
    </mat-card-actions>
  </mat-card>
</div>